#Ignore Visual Studio project files
build/
.vscode/*
**/.DS_Store
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*build-*
*.qm
*.prl


# QtCreator
*.autosave

# QtCreator CMake
CMakeLists.txt.user*
*creator.user*

**/*.tar
**/non-distributable/
