Source: wargus
Section: games
Priority: optional
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: libpng12-dev (>= 1.2.5), libbz2-dev, liblua5.1-dev | liblua5.1-0-dev, debhelper (>> 4.0.0)
Standards-Version: 3.6.1
Homepage: http://wargus.sourceforge.net
Vcs-Bzr: lp:~pali.rohar/+junk/wargus

Package: wargus
Architecture: any
Depends: stratagus, cdparanoia, ffmpeg2theora, ${shlibs:Depends}
Provides: stratagus-data
Description: Wargus is a game set for the Stratagus engine.
 Wargus can be used to play WarCraft II from Blizzard Entertainment.
 .
 You need the original WarCraft II CD (Battle.net edition doesn't work)
 to extract the game data files.
