Source: wargus
Section: games
Priority: optional
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>> 4.0.0), pkg-config, imagemagick, sharutils,
 libpng12-dev (>= 1.2.5), libbz2-dev, liblua5.1-dev | liblua5.1-0-dev,
 libhildon1-dev | libgtk2.0-dev
Standards-Version: 3.6.1
Homepage: https://launchpad.net/wargus
Vcs-Browser: https://bazaar.launchpad.net/~pali.rohar/wargus/main
Vcs-Bzr: bzr+ssh://bazaar.launchpad.net/~pali.rohar/wargus/main

Package: wargus
Architecture: any
Depends: stratagus, ${shlibs:Depends}
Pre-Depends: cdparanoia, ffmpeg2theora
Provides: stratagus-data
Description: Wargus is a game set for the Stratagus engine.
 Wargus can be used to play WarCraft II from Blizzard Entertainment.
 .
 You need the original WarCraft II CD (Battle.net edition doesn't work)
 to extract the game data files.
