Source: wargus
Section: games
Priority: optional
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>> 4.0.0), pkg-config, imagemagick, sharutils,
 libpng12-dev (>= 1.2.5), libbz2-dev, libhildon1-dev | libgtk2.0-dev,
 libx11-dev, bash | bash3, 
Standards-Version: 3.6.1
Homepage: https://launchpad.net/wargus
Vcs-Browser: https://code.launchpad.net/wargus
Vcs-Bzr: lp:wargus

Package: wargus
Architecture: any
Depends: stratagus (>= #VERSION), ${shlibs:Depends}
Pre-Depends: cdparanoia, ffmpeg2theora, timidity
Provides: stratagus-data
Description: Warcraft II data game set for the Stratagus engine
 Wargus can be used to play Warcraft II from Blizzard Entertainment.
 .
 You need the original Warcraft II CD (Battle.net edition doesn't work)
 to extract the game data files.
 .
 Wargus is developed together for Windows, Linux and Linux Maemo based
 devices (Nokia N900).
