[Desktop Entry]
Name=Wargus
Comment=Stratagus WarCraft II data set
Exec=/usr/games/wargus
Icon=wargus
Terminal=false
Type=Application
Categories=Game;StrategyGame;
StartupNotify=false
